<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.edu.neu.mapper.GoodsMapper">
	<select id="findGoodsDetailById" parameterType="int" resultMap="GoodsResultMap">
		select
			g.goods_id goodsId,
			cate_id cateId,
			goods_name goodsName,
			goods_disc goodsDisc,
			goods_price goodsPrice,
			goods_discount goodsDiscount,
			goods_stock goodsStock,
			goods_origin goodsOrigin,
			goods_material goodsMaterial,
			goods_postalfee goodsPostalfee,
			goods_date goodsDate,
			goods_sales goodsSales,
			p.pic_url goodsPics,
			p.pic_id picIds
		from
			t_goods g
		left join
			t_pic p on g.goods_id = p.goods_id
		where
			g.goods_id = #{goodsId}
	</select>
	<select id="findGoodsSizesById" parameterType="int" resultMap="GoodsResultMap">
		select
			g.goods_id goodsId,
			s.size_id sizeId,
			s.size_name sizeName
		from
			t_goods g
			left join r_goodssize gs on g.goods_id = gs.goods_id
			left join t_size s on gs.size_id = s.size_id
		where
			g.goods_id = #{goodsId}
	</select>
	<select id="findGoodsColorsById" parameterType="int" resultMap="GoodsResultMap">
		select
			g.goods_id goodsId,
			c.color_id colorId,
			c.color_name colorName
		from
			t_goods g left join r_goodscolor gc on g.goods_id = gc.goods_id left join t_color c on gc.color_id  = c.color_id
		where
			g.goods_id = #{goodsId}
	</select>
	<select id="findGoodsByKeyword" resultType="Goods">
		select goods_id goodsId,cate_id cateId,goods_name goodsName,goods_price goodsPrice,
		goods_discount goodsDiscount,goods_stock goodsStock,goods_date goodsDate,goods_sales goodsSales,goods_pic goodsPic 
		from t_goods
		<where>
			<foreach item = "item" index="index" collection="params.keywords">
			and goods_name like CONCAT(CONCAT('%',#{params.keywords[${index}]}),'%')
			</foreach>
		</where>
		<if test="params.sort!=null">
			<choose>
				<when test="params.sort == 1">
					order by goods_discount asc
				</when>
				<when test="params.sort == 2">
					order by goods_discount desc
				</when>
				<when test="params.sort == 3">
					order by goods_sales desc
				</when>
				<when test="params.sort == 4">
					order by goods_sales asc
				</when>
				<otherwise>
					order by goods_discount
				</otherwise>
				
			</choose>
			
		</if>
		<if test="params.sort==null">
			order by goods_discount
		</if>
	</select>
  	<select id="findNewGoods" resultType="Goods">
		select goods_id goodsId,cate_id cateId,goods_name goodsName,goods_price goodsPrice,
		goods_discount goodsDiscount,goods_stock goodsStock,goods_date goodsDate,goods_sales goodsSales,goods_pic goodsPic 
		from t_goods 
		order by goods_date desc limit 0,12
	</select>
	<select id="findSalesGoods" resultType="Goods">
		select goods_id goodsId,cate_id cateId,goods_name goodsName,goods_price goodsPrice,
		goods_discount goodsDiscount,goods_stock goodsStock,goods_date goodsDate,goods_sales goodsSales,goods_pic goodsPic 
		from t_goods 
		order by goods_sales desc limit 0,12
	</select>
	<select id="findAllGoodsByCateId"  resultType="Goods">
		select 
			goods_id goodsId,
			cate_id cateId,
			goods_name goodsName,
			goods_price goodsPrice,
			goods_discount goodsDiscount,
			goods_stock goodsStock,
			goods_origin goodsOrigin,
			goods_material goodsMaterial,
			goods_postalfee goodsPostalfee,
			goods_date goodsDate,
			goods_sales goodsSales,
			goods_pic goodsPic 
		from t_goods
		<if test="params.cateId!=null">
			where cate_id=#{params.cateId}
		</if>
		<if test="params.sort!=null">
			<choose>
				<when test="params.sort == 1">
					order by goods_discount asc
				</when>
				<when test="params.sort == 2">
					order by goods_discount desc
				</when>
				<when test="params.sort == 3">
					order by goods_sales desc
				</when>
				<when test="params.sort == 4">
					order by goods_sales asc
				</when>
				<otherwise>
					order by goods_discount
				</otherwise>
				
			</choose>
			
		</if>
		<if test="params.sort==null">
			order by goods_discount
		</if>
		
	</select>
	<resultMap type="Goods" id="GoodsResultMap">
		<id property="goodsId" column="goodsId"/>
		<result property="cateId" column="cateId"/>
		<result property="goodsName" column="goodsName"/>
		<result property="goodsDisc" column="goodsDisc"/>
		<result property="goodsPrice" column="goodsPrice"/>
		<result property="goodsDiscount" column="goodsDiscount"/>
		<result property="goodsStock" column="goodsStock"/>
		<result property="goodsOrigin" column="goodsOrigin"/>
		<result property="goodsMaterial" column="goodsMaterial"/>
		<result property="goodsPostalfee" column="goodsPostalfee"/>
		<result property="goodsDate" column="goodsDate"/>
		<result property="goodsSales" column="goodsSales"/>
		<result property="goodsPic" column="goodsPic"/>
		
		<collection property="pics" ofType="Pic">
			<id property="picId" column="picId"/>
			<result property="goodsId" column="goodsIds"/>
			<result property="picUrl" column="goodsPics"/>
		</collection>
		
		<collection property="sizes" ofType="Size">
			<id property="sizeId" column="sizeId"/>
			<result property="sizeName" column="sizeName"/>
		</collection>
		
		<collection property="colors" ofType="Color">
			<id property="colorId" column="colorId"/>
			<result property="colorName" column="colorName"/>
		</collection>
		<collection property="stocks" ofType="Stock">
			<id property="stockId" column="stockId"/>
			<result property="sizeName" column="sizeName"/>
			<result property="colorName" column="colorName"/>
			<result property="stockNum" column="stockNum"/>
		</collection>
	</resultMap>
	
</mapper>